@import "tailwindcss";

table {
	& th {
		color: #eee;
		padding: 0px 5px;
	}
	& td {
		color: #aaa;
		border: 1px solid #446;
		padding: 0px 5px;
	}
	& td:empty {
		border: none;
	}
}
.statTable {
	& th {
		font-weight: normal;
	}
	& td {
		font-weight: bold;
	}
}